<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
  {{> reviews-form}}

  <!-- BUTTON -->
  <p>
    <input type="button" onclick="location.href='/';" value="Cancel Changes" />
  </p>

</form>
