<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
  <fieldset>
    <legend>New Review</legend>
    <!-- TITLE -->
    <p>
      <label for="review-title">Title</label><br>
      <input id="review-title" type="text" name="title" />
    </p>

    <!-- MOVIE TITLE -->
    <p>
      <label for="movie-title">Movie Title</label><br>
      <input id="movie-title" type="text" name="movieTitle" />
    </p>

    <!-- DESCRIPTION -->
    <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p>

    <!-- RATING -->
    <p>
        <label for = "rating-number">Rating</label><br>
        <select id="rating-number" name ="rating">
            <option value="Awful">0</option>
            <option value="Bad">1</option>
            <option value="Mediocre">2</option>
            <option value="Okay">3</option>
            <option value="Good">4</option>
            <option value="Excellent!">5</option>
        </select>
    </p>
</fieldset>
  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>

</form>
