<!-- views/reviews-edit.handlebars -->

<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
  {{> reviews-form}}
  <!-- BUTTON -->
  <p>
    <input type="button" onclick="location.href='/reviews/{{review._id}}';" value="Cancel Changes" />
  </p>
</form>
